.mainContainer{
    background-color: #0D3127;
    display: flex;
    height: 120vh;
    justify-content: center;
}
.formContainer{
    border: 2px solid gray;
    padding: 2rem;
    display: block;
    border-radius: 5px;
    /* background: rgb(37,104,84); */
    background: linear-gradient(rgba(37,104,84,1) 0%, rgba(13,49,39,1) 100%);
}
.userIcon{
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    padding: 10px;
    margin: auto;
}
.heading{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.loader{
    color: #fff;
}
.inputAreaLevel{
    color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
}
.inputArea{
    padding: 10px 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 10px 0 15px;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    background-color: #0D3127;
}
.inputArea::placeholder{
    font-size: 14px;
    color: gray;
}
.inputArea:focus{
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    color: gray;
    border: 1px solid #187498;
}
.checkBoxContainer{
    display: flex;
    align-items: center;
}
.checkBoxText{
    color: #fff;
}
.error_message {
    color: rgb(250, 0, 0);
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
.LoginButton{
    padding: 6px 10px;
    background-color: #276955;
    width: 70px;
    text-align: center;
    margin: 14px 5px;
    color: #fff;
    border-radius: 4px;
    border: 0px;
}
@media screen and (min-width: 1024px) {
    .formContainer{
        width: 35%;
        display: block;
        margin: auto;
    }
}
